<robot name="test_robot">

  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.016" radius="0.023"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.008"/>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>

  <link name="chassis_link">
    <visual>
      <geometry>
        <box size="0.16 0.16 0.06"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.046"/>
      <material name="green">
        <color rgba="0.1 0.5 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="base_to_chassis" type="fixed">
    <parent link="base_link"/>
    <child link="chassis_link"/>
    <origin xyz="0 0 0" rpy="0 0 0.008"/>
  </joint>


  <link name="lwheel">
    <visual>
      <geometry>
        <cylinder length="0.008" radius="0.046"/>
      </geometry>
      <origin rpy="0 1.57075 0" xyz="0 0 0"/>
      <material name="purple">
        <color rgba="1 1 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="chassis_to_lconnection" type="fixed">
    <parent link="chassis_link"/>
    <child link="lwheel"/>
    <origin xyz="0 0.084 0.046" rpy="0 0 1.57075"/>
  </joint>

  <link name="rwheel">
    <visual>
      <geometry>
        <cylinder length="0.008" radius="0.046"/>
      </geometry>
      <origin rpy="0 1.57075 0" xyz="0 0 0"/>
      <material name="purple">
        <color rgba="1 1 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="chassis_to_rconnection" type="fixed">
    <parent link="chassis_link"/>
    <child link="rwheel"/>
    <origin xyz="0 -0.084 0.046" rpy="0 0 1.57075"/>
  </joint>

</robot>
